@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,;1,300;1,400;1,&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100% !important;
}

.container {
    width: 90%;
    margin: auto;
}

#intro {
    background: url(imgs/top-banner.png) no-repeat;
}

.clrFix::after {
    content: '';
    display: block;
    clear: both;
}

.f-left {
    float: left;
}

.btn {
    padding: 12px 25px;
    background: linear-gradient(45deg, rgba(255, 160, 122, 1) 0%, rgba(255, 99, 71, 1) 85%);
    display: inline-block;
    color: aliceblue;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 10px;
}

.half {
    width: 46%;
}

.left {
    margin-top: 30px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 7rem;
}

.highlight {
    color: orange
}

.left h3 {
    margin: 25px 0;
    font-size: 22px;
    color: #525252;
}

.left p {
    font-size: 16px;
    line-height: 1.5rem;
}

.right-margin {
    margin-left: 110px;
}

section.dream {
    background: #f4f4f4 url(imgs/dream-bg.png) no-repeat right;
    margin-top: 100px;
}

#experience {
    padding: 80px 0;
    background: url(imgs/exp-bg.png) no-repeat left center;
}

#experience h2 {
    margin-bottom: 80px;
    font-size: 42px;
}

#experience .box-one {
    border-left: 5px solid;
    border-image: linear-gradient(180deg, rgba(255, 160, 122, 1) 0%, rgba(255, 99, 71, 1) 85%);
    border-image-slice: 1;
}

.box-two {
    border-left: 5px solid;
    border-image: linear-gradient(180deg, rgb(13, 15, 148) 0%, rgb(5, 208, 235) 85%);
    border-image-slice: 1;
}

.box {
    padding: 10px 5px 130px 31px;
    box-shadow: -1px 3px 25px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 3px 25px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 25px -3px rgba(0, 0, 0, 0.75);
}

.box h3 {
    margin: 20px 0;
}

.box p {
    line-height: 1.5rem;
}